// 主体文字颜色
$ColorPrimary: #409eff;

// 主要文字颜色
$ColorTextPrimary: #303133;

// 常规文字颜色
$ColorTextRegular: #606266;

// 次要文字颜色
$ColorTextSecondary: #909399;

// 占位文字颜色
$ColorTextPlaceholder: #c0c4cc;

// 成功文字颜色
$ColorSuccess: #67c23a;

// 警告文字颜色
$ColorWarning: #e6a23c;

// 危险文字颜色
$ColorDanger: #f56c6c;

// 信息文字颜色
$ColorInfo: #909399;

// 基础背景黑色
$BackgroundBlack: #000;

// 基础背景白色
$BackgroundWhite: #fff;

// 基础背景色
$BackgroundBase: #f5f7fa;

// 一级边框颜色
$BorderColorBase: #dcdfe6;

// 二级边框颜色
$BorderColorLight: #e4e7ed;

// 三级边框颜色
$BorderColorLighter: #ebeef5;

// 四级边框颜色
$BorderColorExtraLight: #f2f6fc;
